<fieldset class="fieldset-auto-width", align="center">
    <legend><h3>Sign In</h3></legend>

        <br><br>
        <%= form_for :user do |f| %>
            <%= f.email_field :email, placeholder: "Email" %>
            <br><br>
            <%= f.password_field :password, placeholder: "Password" %>
            <br><br>
            <%= f.submit "Sign In" %>
        <% end %>
        <br>
        <%= link_to "Sign In via Facebook", '/auth/facebook' %>

</fieldset>