<%= form_for cocktail do |cocktail_attributes| %>
    <%= cocktail_attributes.label "Cocktail name:" %>
    <%= cocktail_attributes.text_field :name %>
    <br><br>
    <%= cocktail_attributes.label "About:" %>
    <%= cocktail_attributes.text_field :description %>
    <br><br>
    <%= cocktail_attributes.label "Ingredients:" %>
    <%= cocktail_attributes.fields_for :cocktail_ingredients, @ingredients do |cocktail_ingredient| %>
        <div><%= cocktail_ingredient.label "Select ingredient:" %>
            <%= cocktail_ingredient.collection_select :ingredient_id, Ingredient.all, :id, :name, include_blank: 'Select Ingredient' %>
            <%= cocktail_ingredient.fields_for :ingredient, @cocktail.ingredients.build do |ingredient| %>
                <%= cocktail_ingredient.label "or create a new ingredient:" %><%= ingredient.text_field :name %>
            <% end %>
            <%= cocktail_ingredient.label "Quantity:" %> <%= cocktail_ingredient.text_field :quantity %>
            <%= cocktail_ingredient.select :unit, options_for_select(CocktailIngredient::UNITS) %>
        </div>
    <% end %>
    <%= cocktail_attributes.label "Instructions:" %>
    <%= cocktail_attributes.text_field :steps %>

  <%= cocktail_attributes.submit "Submit" %>

<% end %>