<fieldset class="new_cocktail", align="center">
    <legend><h2>New Cocktail:</h2></legend>

<%= form_for @cocktail do |cocktail_attributes| %>
    <%= cocktail_attributes.label :name %>
    <%= cocktail_attributes.text_field :name %>
    <br><br>
    <%= cocktail_attributes.label :story %>
    <%= cocktail_attributes.text_field :story %>
    <br><br>
    <%= cocktail_attributes.label "Ingredients:" %>
    <div>
    <%= cocktail_attributes.fields_for :ingredient_attributes, @cocktail.ingredients.build do |ingredient_attribute| %>
        <%= ingredient_attribute.label :name %>
        <%= ingredient_attribute.text_field :name %>
        <%= ingredient_attribute.fields_for :cocktail_inredient_attributes, @cocktail.cocktail_ingredients.build do |cocktail_ingredient| %>
            <%= cocktail_ingredient.label "Quantity:" %> <%= cocktail_ingredient.text_field :quantity %>
            <%= cocktail_ingredient.select :unit, options_for_select(CocktailIngredient::UNITS) %>
        <% end %>
    <% end %>
    </div>
    <%= cocktail_attributes.label "Instructions:" %>
    <%= cocktail_attributes.text_field :instruction %>

  <%= cocktail_attributes.submit "Submit" %>

<% end %> 

</fieldset>