<%= render 'layouts/styling' %>
<br>
<%= render partial: 'layouts/errors', locals: {object: @user}  %>
<br>
<fieldset class="cocktail", align="center"><br>
    <legend>Cocktail:</h2></legend>
    <div class="cocktail_name"><h2><%= @cocktail.name %></h2><p><%= "by " + @cocktail.user.name %></p></div><br>
    <div class="cocktail_description"><p><%= @cocktail.description %></p></div><br>
    <div class="cocktails_ingredients"><%= "Ingredients:" %><br><br>
        <% @cocktail.cocktail_ingredients.each do |cocktail_ingredient| %>
            <div class="ingredient_fields">
                <%= form_tag(cocktail_cocktail_ingredient_path(@cocktail, cocktail_ingredient), method:"delete") do %>
                    <li><%= cocktail_ingredient.ingredient.name %> <%= cocktail_ingredient.quantity %> <%= cocktail_ingredient.unit %>
                        <% if logged_in? && @cocktail.user == current_user %>
                            <button type=submit_tag >x</button>
                        <% end %>
                <% end %>
            </li>
            </div><br>
        <% end %>
        <% if logged_in? && @cocktail.user == current_user %>
            <%= link_to "Add a New Ingredient", new_cocktail_cocktail_ingredient_path(@cocktail) %>
        <% end %>    
    </div> <br>
    <div class="cocktail_instructions"> <%= "Instructions:" %> <%= @cocktail.instructions %> </div> <br>

<% if logged_in? && @cocktail.user == current_user %>
    <div>
        <%= form_tag(edit_cocktail_path, method:"get") do %>
            <%= button_tag "Edit" %>
        <% end %>
    </div>
    <div>
        <%= form_tag(cocktail_path, method:"delete", confirm: "Are you sure?") do %>
            <%= button_tag "Delete" %>
        <% end %>
    </div>
<% end %>

</fieldset>