<%= render 'layouts/styling' %>
<br>
<fieldset class="cocktail", align="center"><br>
    <legend>Add Ingredient:</h2></legend>

<%= form_for [@cocktail, @cocktail_ingredient] do |f| %>
    <%= f.fields_for :ingredient do |ff| %>
        <%= ff.label :name %>
        <%= ff.text_field :name %>
    <% end %>
    <%= f.label :quantity %> <%= f.text_field :quantity %>
    <%= f.select :unit, options_for_select(CocktailIngredient::UNITS) %> </div><br><br>
    <%= f.submit "Submit" %>
<% end %>

</fieldset>