<!DOCTYPE html>
<html>
  <head>
    <title>AlcoholOK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# javascript_pack_tag 'application', "data-turbolinks-track" => true %>
   
  </head>

  <body>
      <div class="topnav">
        <%= link_to "alcoholOK", cocktails_path %>
      </div>

    <div class="topnav_sm">
      <div style="float: right;">
        <% if logged_in? %>
          <%= form_tag("/signout", method:"delete") do %>
            <div>
              <div style="float: left;">
                <div class="name"> Welcome, <%= current_user.name %> </div>
              </div>
              <div style="float: right;">
                <%= button_tag "Sign Out", class: "button" %> 
                <%#link_to "Sign Out", signout_path, method: :delete %>
              </div> 
          <% end %>
        <% else %>
          <div>
            <div style="float: left;">
              <%= link_to "Sign In", signin_path %>
            </div>
            <div style="float: right;">
              <%= link_to "Sign Up", signup_path %>
             </div>
          </div>
        <% end %>
      </div>
    </div>
  
        <% if logged_in? %>
          <%= link_to "My Cocktails", mycocktails_path%>
          <%= link_to "New Cocktail", new_cocktail_path %>
        <% end %>
    </div>

<div>
    <div>
    <br>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
        <%= @error %>
    </div>
</div><br>
    <%= yield %>
  </body>
</html>
