<!DOCTYPE html>
<html>
  <head>
    <title>AlcoholOK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
      <div>
        <%= link_to "All Cocktails" %>
        <% if logged_in? %>
          <%= link_to "My Cocktails" %>
          <%= link_to "New Cocktail" %>
          <%= link_to "Sign Out", signout_path, method:"delete" %>
        <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Sign In", signin_path %>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
